<div ng-controller="tab3Ctrl" >
    <md-content  layout"row" layout-padding>
        <div>
            <form name="userForm">

                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no1" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no2" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no3" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no4" disabled>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no5" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no6" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no7" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no8" disabled>
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no9" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no10" disabled>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no11" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="user.no12" disabled>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Driving question:</label>
                    <textarea ng-model="user.question" md-maxlength="300" rows="3" md-select-on-focus></textarea>
                </md-input-container>

            </form>
        </div>
    </md-content>
</div>